@using DomainExpenses.Abstract
@using WebExpenses.Models
@model MGroupList
<div class="dTable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Код</th>
                <th>Группа</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.GroupList.Count; i++)
            {
                if (Model.GroupId.HasValue && Model.GroupId == Model.GroupList[i].Id)
                {
                    <tr class="current">
                        <th class="groupOrder">@(i + 1).</th>
                        <th class="groupId">@Model.GroupList[i].Id</th>
                        <th class="groupName">@Model.GroupList[i].Name</th>
                        <th>
                            @Html.ActionLink("Редактировать", "EditGroup", new { id_ = Model.GroupList[i].Id })
                        </th>
                        <th>
                            @Ajax.ActionLink("Удалить", "DeleteGroup", new { id_ = Model.GroupList[i].Id }, null)
                        </th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th class="groupOrder">@(i + 1).</th>
                        <th class="groupId">@Model.GroupList[i].Id</th>
                        <th class="groupName">@Model.GroupList[i].Name</th>
                        <th>
                            @Html.ActionLink("Редактировать", "EditGroupCard", new { id_ = Model.GroupList[i].Id })
                        </th>
                        <th>
                            @Html.ActionLink("Удалить", "DeleteGroup", new { id_ = Model.GroupList[i].Id })
                        </th>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>
                    @Html.ActionLink("Добавить", "CreateGroupCard", new { gId_ = Model.GroupId })
                </th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>