@using WebExpenses.Models.Purchase;
@using System.Globalization;
@model MPeriodList
@{ 
    CultureInfo cInfo = new CultureInfo(this.Culture);
}
<select id="@ViewData["OptionName"]" name="@ViewData["OptionName"]">
    @foreach (var period in Model.PeriodList)
    {
        if (Model.Current == period)
        {
            <option value="@period.Period" selected>@period.Period.ToString("MMMM yyyy", cInfo)</option>
        }
        else
        {
            <option value="@period.Period">@period.Period.ToString("MMMM yyyy", cInfo)</option>
        }

    }
</select>
