@using WebExpenses.Models.Purchase;
@using System.Globalization;
@model MWeekList

@{
    if (Model.Current == null)
    {
        <option value="-1" selected>-</option>
    }
    else
    {
        <option value="-1">-</option>
    }
}
@foreach (var week in Model.WeekList)
{
    
    if (Model.Current == week)
    {
        <option value="@week.BDate.ToString("yyyy-MM-dd")" selected>@week.BDate.ToShortDateString() - @week.EDate.ToShortDateString()</option>
    }
    else
    {
        <option value="@week.BDate.ToString("yyyy-MM-dd")">@week.BDate.ToShortDateString() - @week.EDate.ToShortDateString()</option>
    }

}
