@using DomainExpenses.Abstract
@using WebExpenses.Models.Item.Interfaces

@model IMItemCard
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    @Styles.Render("~/Content/itemCard")
    @Scripts.Render("~/bundles/jQuery")
    @Scripts.Render("~/bundles/validate")
</head>
<body>
        <h4>Карточка товара</h4>
        @using (Html.BeginForm())
        {
            //@Html.ValidationSummary();
            if (Model.Id != -1)
            {
                <p>Код товара: @Html.TextBoxFor(it => it.Id, new { @readonly = true })</p> 
            }
            <p>Наименование: @Html.EditorFor(it => it.Name)</p>
            <p>@Html.ValidationMessageFor(it => it.Name)</p>
            Html.RenderAction("GroupDropDownList", "Group",
                new { gId_ = Model.GId, selectGroupName_ = @ViewData["SelectGroupName"] });
            <input type="submit" value="@ViewData["Head"]"/>
        }

    
</body>
</html>
