@using DomainExpenses.Abstract
@using WebExpenses.Models.Item.Interfaces
@using Newtonsoft.Json;

@model IMItemCard
@{
    Layout = null;
}


<!DOCTYPE html>

<html ng-app="purchApp" >
<head >
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angularJS/controller/itemController.js"></script>
    @Styles.Render("~/Content/itemCard")
    @Scripts.Render("~/bundles/jQuery")
    @Scripts.Render("~/bundles/validate")
    <title>@ViewData["Title"]</title>
</head>
<body ng-controller="itemController" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
        <h4>{{Header}}</h4>
        @using (Html.BeginForm())
        {
            //@Html.ValidationSummary();
            if (Model.Id != -1)
            {
                //<p>Код товара: @Html.TextBoxFor(it => it.Id, new { @readonly = true })</p> 
                <p>Код товара: <input ng-model="Id"  readonly  value="@Model.Id" /></p>
            }
            //<p>Наименование: @Html.EditorFor(it => it.Name)</p>
            <p>Наименование: <input  ng-model="Name" value="@Model.Name"/></p>
            <p>@Html.ValidationMessageFor(it => it.Name)</p>
            Html.RenderAction("GroupDropDownList", "Group",
                new { gId_ = Model.GId, selectGroupName_ = @ViewData["SelectGroupName"] });
            //<input type="submit" value="@ViewData["Head"]"/>
            <input type="button" value="@ViewData["Head"]" ng-click="CreateItem()"/>
        }

    <script>
        $(document).ready(function () {
            //var obj1 = @System.Web.Helpers.Json.Encode(Model).ToString().Replace("&quot;", "'");
            //var obj2 = @Newtonsoft.Json.JsonConvert.SerializeObject(Model).Replace("&quot;", "'");
            //console.log('preved');
            //console.log(obj);
        });

    </script>    
</body>
</html>
