@using DomainExpenses.Abstract
@using WebExpenses.Models.Shop
@model MShopList
@{
    var deleteShopAjaxOption = new AjaxOptions
    {
        HttpMethod = "Post",
        Url = "DeleteShopAjax",
        UpdateTargetId = "ShopTableBody",
    };
}

@for (int i = 0; i < Model.ShopList.Count; i++)
{
    if (Model.ShopId.HasValue && Model.ShopId == Model.ShopList[i].Id)
    {
        <tr class="current">
            <th class="shopOrder">@(i + 1).</th>
            <th class="shopId">@Model.ShopList[i].Id</th>
            <th class="shopName">
                <div class="shopNameInner">
                    @Model.ShopList[i].Name
                </div>
                <div class="shopAddressInner">
                    @Model.ShopList[i].Address
                </div>
            </th>
            <th class="shopEdit">
                @Html.ActionLink("Редактировать", "EditShop")
            </th>
            <th class="shopDelete">
                @Html.ActionLink("Удалить", "DeleteShop")
                <!--Ajax.ActionLink("Удалить", "", deleteGroupAjaxOption)-->
            </th>
        </tr>
    }
    else
    {
        <tr>
            <th class="shopOrder">@(i + 1).</th>
            <th class="shopId">@Model.ShopList[i].Id</th>
            <th class="shopName">
                <div class="shopNameInner">
                    @Model.ShopList[i].Name
                </div>
                <div class="shopAddressInner">
                    @Model.ShopList[i].Address
                </div>
            </th>
            <th class="shopEdit">
                @Html.ActionLink("Редактировать", "EditShop")
            </th>
            <th class="shopDelete">
                @Html.ActionLink("Удалить", "DeleteShop");
                <!--Ajax.ActionLink("Удалить", "", deleteGroupAjaxOption)-->
                <!--Html.ActionLink("Удалить", "DeleteGroup")-->
            </th>
        </tr>
    }
}
<script>
    $(document).ready(function () {
        console.log('shopClick.b');
        $('div#shops tbody tr th.shopOrder').click(setCurrentShopByClick);
        $('div#shops tbody tr th.shopId').click(setCurrentShopByClick);
        $('div#shops tbody tr th.shopName').click(setCurrentShopByClick);
        $('div#shops tbody tr th.shopEdit a').click(setCurrentShopId);
        $('div#shops tbody tr th.shopDelete a').click(setCurrentShopId);
        console.log('shopClick.e');
    });
</script>

